@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
}

.fullcard {
  margin-top: 50px;
  width: 200px;
  height: 600px;
}

.suitsAbove {
  margin-left: 12px;
  text-align: left;
  font-size: 50px;
}

.suitsBelow {
  margin-right: 12px;
  text-align: left;
  font-size: 50px;
  transform: rotate(180deg);
}

.mainNumber {
  font-size: 50px;
}
